# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=art_archive_db
DB_USER=postgres
DB_PASSWORD=your_password_here
DATABASE_URL=postgresql://postgres:your_password_here@localhost:5432/art_archive_db?schema=public


ADMIN_JWT_SECRET=sadsdasdq122
USER_JWT_SECRET=sadsdasdq122
KAVENEGAR_API_KEY=3350316F5669633145715947466752765A5252544568717A6E627679632B652F474635416E33635552396B3D
REDIS_URL=redis://localhost:6379

MINIO_ENDPOINT=storage.iran.liara.space
MINIO_PORT=443
MINIO_USE_SSL=true
MINIO_ACCESS_KEY=dpkr68seo0hfhtas
MINIO_SECRET_KEY=c392f246-ff0e-4e0a-bfae-fc706733d495
MINIO_BUCKET_NAME=testings3database
MELLI_PAYAMAK_USERNAME=9107901726
MELLI_PAYAMAK_PASSWORD=Fn@123456
APP_URL=http://localhost:3000
ZARINPAL_MERCHANT_ID=XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX